@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  @apply font-titleFont;
}

body {
  @apply font-bodyFont;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .light {
    --main-1: 228 36% 89%;
    --input-field-1: 0 0% 100%;
    --input-field-2: 214 32% 91%;
    --button-1: 228 28% 10%;
    --button-2: 228 36% 89%;
    --button-border: ;
    --layout-hover: 228 36% 89%;
    --layout-1: 0 0% 100%;
    --layout-2: 228 4% 50%;
    --layout-3: 229 10% 35%;
    --layout-text-1: 0 0% 8%;
    --layout-text-2: 0 0% 8%;
    --bg: 0 0% 93%;
    --bg-container: 0 0% 100%;
    --title-body-text-1: 0 0% 8%;
    --body-text-2: 0 0% 8%;
    --subtext: 0 0% 76%;
    --theme-button-1: 229 22% 15%;
    --theme-button-2: 230 12% 30%;
  }

  .dark {
    --main-1: 210 25% 2%;
    --input-field-1: 0 0% 7%;
    --input-field-2: 0 0% 13%;
    --button-1: 227 36% 5%;
    --button-2: 210 25% 2%;
    --button-border: 227 36% 5%;
    --layout-hover: 228 36% 89%;
    --layout-1: 0 0% 8%;
    --layout-2: 228 3% 31%;
    --layout-3: 227 8% 23%;
    --layout-text-1: 0 0% 8%;
    --layout-text-2: 0 0% 100%;
    --bg: 0 0% 4%;
    --bg-container: 0 0% 8%;
    --title-body-text-1: 0 0% 100%;
    --body-text-2: 0 0% 100%;
    --subtext: 0 0% 76%;
    --theme-button-1: 229 22% 15%;
    --theme-button-2: 230 12% 30%;
  }

  .system {
    --main-1: 229 22% 15%;
    --input-field-1: 0 0% 100%;
    --input-field-2: 214 32% 91%;
    --button-1: 228 28% 10%;
    --button-2: 228 36% 89%;
    --button-border: ;
    --layout-hover: 228 36% 89%;
    --layout-1: 229 22% 15%;
    --layout-2: 228 4% 50%;
    --layout-3: 229 10 35%;  
    --layout-text-1: 0 0% 8%;
    --layout-text-2: 0 0% 100%;
    --bg: 0 0% 96%;
    --bg-container: 0 0% 100%;
    --title-body-text-1: 0 0% 100%;
    --body-text-2: 0 0% 8%;
    --subtext: 0 0% 76%;
    --theme-button-1: 229 22% 15%;
    --theme-button-2: 230 12% 30%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-bg text-bodytext2;
  }
} 

/* Hide built-in password reveal icons in Chrome/Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
  display: none !important;
}
