@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  @apply font-titleFont;
}

body {
  @apply font-bodyFont;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .light {
    --main-1: 228 36% 89%;
    --input-field-1: 210 20% 98%; 
    --input-field-2: 0 0% 52%;
    --button-1: 228 36% 89%;
    --button-2: 225 18% 96%;
    --button-border: ;
    --button-hover: 215 16% 47%;
    --delete-button: 0 91% 36%;
    --delete-button-hover: 0 96% 44%;
    --layout-hover: 228 36% 89%;
    --layout-1: 0 0% 100%;
    --layout-2: 228 4% 50%;
    --layout-3: 229 10% 35%;
    --layout-text-1: 0 0% 8%;
    --layout-text-2: 0 0% 8%;
    --bg: 0 0% 93%;
    --bg-container: 0 0% 100%;
    --title-body-text-1: 0 0% 8%;
    --body-text-2: 0 0% 8%;
    --subtext: 0 0% 50%;
    --theme-button-1: 229 22% 15%;
    --theme-button-2: 230 12% 30%;
    --not-available-bg: 220 14% 96%;
    --not-available-text: 218 11% 65%;
    --table-odd-row: 0 0% 100%;
    --table-even-row: 0 0% 95%;
    --table-border: 0 0% 80%;
  }

  .dark {
    --main-1: 227 9% 19%;
    --input-field-1: 0 0% 7%;
    --input-field-2: 0 0% 30%;
    --button-1: 227 9% 19%;
    --button-2: 225 6% 13%;
    --button-border: ;
    --button-hover: 215 16% 47%;
    --delete-button: 0 91% 36%;
    --delete-button-hover: 0 96% 44%;
    --layout-hover: 227 9% 19%;
    --layout-1: 0 0% 8%;
    --layout-2: 228 3% 31%;
    --layout-3: 227 8% 23%;
    --layout-text-1: 0 0% 100%;
    --layout-text-2: 0 0% 100%;
    --bg: 0 0% 4%;
    --bg-container: 0 0% 8%;
    --title-body-text-1: 0 0% 100%;
    --body-text-2: 0 0% 100%;
    --subtext: 0 0% 80%;
    --theme-button-1: 229 22% 15%;
    --theme-button-2: 230 12% 30%;
    --not-available-bg: 225 7% 11%;
    --not-available-text: 0 0% 28%;
    --table-odd-row: 0 0% 8%;
    --table-even-row: 227 9% 12%;
    --table-border: 0 0% 30%;
  }

  .system {
    --main-1: 229 22% 15%;
    --input-field-1: 210 20% 98%;
    --input-field-2: 0 0% 52%;
    --button-1: 228 28% 10%;
    --button-2: 228 36% 89%;
    --button-border: ;
    --button-hover: 215 16% 47%;
    --delete-button: 0 91% 36%;
    --delete-button-hover: 0 96% 44%;
    --layout-hover: 228 36% 89%;
    --layout-1: 229 22% 15%;
    --layout-2: 228 4% 50%;
    --layout-3: 229 10 35%;  
    --layout-text-1: 0 0% 8%;
    --layout-text-2: 0 0% 100%;
    --bg: 0 0% 96%;
    --bg-container: 0 0% 100%;
    --title-body-text-1: 0 0% 100%;
    --body-text-2: 0 0% 8%;
    --subtext: 0 0% 50%;
    --theme-button-1: 229 22% 15%;
    --theme-button-2: 230 12% 30%;
    --not-available-bg: 220 14% 96%;
    --not-available-text: 218 11% 65%;
    --table-odd-row: 0 0% 100%;
    --table-even-row: 0 0% 95%;
    --table-border: 0 0% 80%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-bg text-bodytext2;
  }

    /* Hide built-in password reveal icons in Chrome/Edge */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  input[type="password"]::-webkit-credentials-auto-fill-button,
  input[type="password"]::-webkit-textfield-decoration-container,
  input[type="password"]::-webkit-inner-spin-button,
  input[type="password"]::-webkit-clear-button {
    display: none !important;
  }

  body, header, main, aside, div, a, button {
    @apply transition-colors duration-300 ease-in-out;
  }
} 